body {
  background: #333;
  min-height: 100vh;
  color: #fff;
  padding-top: 30px;
}

.title {
  color: #fff;
  text-align: center;
}

.input {
  background: rgb(43, 43, 43);
  color: #fff;
}

.input::placeholder {
  color: #fff;
}
