html {
  background: #333;
}
body {
  min-height: 100vh;
  color: #fff;
}

.title {
  color: #fff;
  text-align: center;
}

.textarea {
  background: rgb(43, 43, 43);
  color: #fff;
  resize: none;
}

.textarea::placeholder {
  color: #fff;
}

.is-primary {
  border-color: #6c5ce7;
}

.header {
  background: #93bcd8;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Lobster", cursive;
}

.container {
  max-width: 500px;
}

.button {
  font-weight: bold;
}

.item {
  background: rgb(70, 70, 70);
  padding: 10px;
  margin-bottom: 1px;
}

.message-box {
  font-size: 1.4em;
}

.handle-text {
  color: #aaa;
}

.tweet-info {
  padding-top: 4px;
  font-size: 0.9em;
}

.fa-heart {
  padding-left: 10px;
}

.fa-heart,
.fa-comment-alt {
  padding-right: 2px;
}

.avatar {
  border-radius: 20px;
}
